@font-face {
    font-family: 'Neuropolitical Rg';
    src: url('/asset_management/static/src/fonts/Neuropolitical-Rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.neuropolitical-title {
    font-family: 'Neuropolitical Rg', sans-serif !important;
    font-weight: normal !important;
    color: #0370c4 !important;
}